.botton{
    margin: 5px 0;
    text-align: start;
    border: none;
    background: none;
    width: 100%;
    border-radius: 5px;
    
}
.bg{
    background: #FEFAE0;
}
.btn-primary {
    background-color: #25B474; /* Example primary color */
    color: white;
  }
  
  .btn-secondary {
    color: dark;
  }